<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RoadMap1</key>
	<array>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.19</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>2</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.18</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.20</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.13</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>2</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.19</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.17</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.22</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>2</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.21</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.18</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.19</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>2</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.16</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.21</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.14</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.13</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.14</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.22</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>2</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.19</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.15</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>1</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.24</string>
		</dict>
		<dict>
			<key>SbroadType</key>
			<string>3</string>
			<key>nextRoadOffsetXscale</key>
			<string>0.19</string>
		</dict>
	</array>
</dict>
</plist>
